<%= render 'shared/navbar' %>

<div class="row home_content container">
    <div class="col">
        <h1>Videochamadas premium.</h1>
        <h1>Agora gratuitas para todos.</h1>

        <p>
            Reformulamos o Google Meet, 
            nosso serviço seguro para reuniões de negócios. 
            Agora ele é aberto e gratuito para todos.
        </p>

        <div class="mt-4 row">
            <div class="col-4">
                <%= link_to '#', class: 'btn btn-primary p-2' do %>
                    <%= image_tag 'icons/video_call' %>
                    Nova reunião
                <% end %>
            </div>

            <div class="col-8">
                <div class="input-group">
                    <%= image_tag 'icons/keyboard', class: 'me-2' %>
                    <%= text_field_tag :search, nil, class: 'form-control', placeholder: 'Digite um código ou link' %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4 offset-1">
        <%= render 'carousel' %>
    </div>
</div>