<div class="row home_content container">
    <div class="col-md mt-3">
        <h1>Videochamadas premium.</h1>
        <h1>Agora gratuitas para todos.</h1>

        <p>
            Reformulamos o Google Meet, 
            nosso serviço seguro para reuniões de negócios. 
            Agora ele é aberto e gratuito para todos.
        </p>

        <div class="mt-4 row">
            <div class="col-4">
                <%= form_with(model: Room.new) do |f| %>
                    <%= button_tag nil, class: 'btn btn-primary p-2' do %>
                        <%= image_tag 'icons/video_call' %>
                        Nova reunião
                    <% end %>
                <% end %>
            </div>

            <div class="col-8">
                <%= form_with(url: search_rooms_path, method: :get) do |f| %>
                    <div class="input-group">
                        <%= image_tag 'icons/keyboard', class: 'me-2' %>
                        <%= f.text_field :room_url, class: 'form-control', placeholder: 'Digite um código ou link' %>

                        <%= f.submit 'Acessar', class: 'submit_search' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-4 offset-1 mt-3">
        <%= render 'carousel' %>
    </div>
</div>