<div class="row home_content container">
    <div class="col-md mt-3">
        <h1>Videochamadas premium.</h1>
        <h1>Agora gratuitas para todos.</h1>

        <p>
            Reformulamos o Google Meet, 
            nosso serviço seguro para reuniões de negócios. 
            Agora ele é aberto e gratuito para todos.
        </p>

        <div class="mt-4 row">
            <div class="col-4">
                <%= form_with(model: Room.new) do |f| %>
                    <%= render "user_name_modal", f: f, action: "create" %>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
                        <%= image_tag 'icons/video_call' %>
                        Nova reunião
                    </button>
                <% end %>
            </div>

            <div class="col-8">
                <%= form_with(url: search_rooms_path, method: :get) do |f| %>
                    <%= render "user_name_modal", f: f, action: "search" %>

                    <div class="input-group">
                        <%= image_tag 'icons/keyboard', class: 'me-2' %>
                        <%= f.text_field :room_url, class: 'form-control', placeholder: 'Digite um código ou link', required: true %>

                        <%= f.submit 'Acessar', class: 'submit_search', 'data-bs-toggle': "modal", 'data-bs-target': "#searchModal" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-4 offset-1 mt-3">
        <%= render 'carousel' %>
    </div>
</div>